
.users-container {
  min-height: 100vh;
  background: #f4fdf6;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.users-container h2 {
  text-align: center;
  color: #1b5e20;
  margin-bottom: 20px;
}

.users-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.users-filters input,
.users-filters select {
  padding: 8px;
  border: 1px solid #c8e6c9;
  border-radius: 6px;
}

.users-form {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.users-form input,
.users-form select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #c8e6c9;
}

.users-form button {
  background: #1a6ae2;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.users-form button:hover {
  background: #1b5e20;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.users-table th {
  background: #2e7d32;
  color: white;
  padding: 10px;
}

.users-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.btn-edit {
  background: #ddd201;
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.btn-delete {
  background: #c62828;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;

}
