.dashboard {
  background: #f8faf8;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #b5f7a5;
  color: #198754;
  min-height: 100vh;
}

.nav-link {
  color: #99e9b6;
}

.active-link {
  background-color: #038013;
  color: white !important;
  border-radius: 8px;
  padding: 8px;
}

.stat-card {
  background-color: rgb(2, 56, 25);
  color: white;
  border: none;
  border-radius: 15px;
}

.custom-card {
  background-color: rgb(2, 56, 25);
  color: white;
  border: none;
  border-radius: 15px;
}

.table-dark {
  background-color: #0b1a2d;
}
